/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root{
  --lightgreen: #deffd3; 
  --navy: #1a1c63;
  --blue: #89fff7;
  --purple: #afb1ff;
}

.main-page{
  height: 100vh;
  width: 100vw;
  background-color: var(--lightgreen) !important;
  overflow: hidden;
}

.side-nav{
  background-color: var(--navy) !important;
  height: 100vh;
  width: 17%;
  position: fixed;
  border-right: #deffd3 solid 1px;
}

.side-nav > h1 {
  color: var(--lightgreen) !important;
  margin-top: 5.5rem;
}


.side-nav > ul > li {
  list-style: none;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.side-nav > ul > li > button {
  background-color: var(--navy);
  color: var(--lightgreen);
  border: none;
  box-shadow: none;
}

.side-nav > ul > li > button:hover {
  background-color: var(--navy);
  color: #75d0ca;
  border: none;
  box-shadow: none;
}

.del-user:hover{
  color: maroon !important;
}

.logo{
  /* margin-left: 27%; */
  /* margin-top: 5%; */
  position: absolute;
  height: 5rem;
  left: 50%;
  transform: translateX(-50%);

}
/* #cir-1{
  position: absolute;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  background-color: rgba(173, 224, 153, .54);
  z-index: 1;
} */

.tag-line{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.home-text{
  margin-top: 5% !important;
}

.home-form{
  background-color: var(--navy) !important;
  height: 45vh;
  width: 25vw;
  border-radius: 15px !important;
  margin-top: 5% !important;
  font-size: 1.2rem !important;
  padding: 2% !important;
  z-index: 10 !important;
}

.submitBtn{
  background-color: var(--lightgreen) !important;
}

.submitBtn:hover{
  background-color: var(--purple)!important;
}

.userPage{
  height: 100vh;
  width: 100vw;
  background-color: var(--navy) !important;
  overflow: hidden;
}

/* .navbar{
  background-color: var(--blue) !important;
  box-shadow: inset 0 0 10px #000000;
} */

/* .log-out{
  background-color: var(--purple);
}

.log-out:hover{
  background-color: #7d7ec0;
} */

.expenses{
  background-color: var(--lightgreen);
  height: 85%;
  width: 22%;
  border-radius: 20px;
  /* margin: 2rem; */
}

.total-wrapper{
  background-color: var(--lightgreen);
  height: 40%;
  width: 95%;
  margin-bottom: 1%;
  border-radius: 20px;
  /* margin: 2rem; */
}

.total{
  background: radial-gradient(circle, rgba(175,255,250,1) 0%, rgba(175,231,255,1) 34%, rgba(159,191,255,1) 65%, rgba(175,177,255,1) 100%);
  height: 88%;
  width: 92%;
  border-radius: 20px;
}

.chart{
  background-color: var(--lightgreen);
  height: 40%;
  width: 95%;
  border-radius: 20px;
  /* margin: 2rem; */

}
.add-exp{
  background-color: var(--lightgreen);
  width: 95%;
  height: 5%;
  margin-bottom: 1%;
  border-radius: 10px;
  color: var(--navy);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.net-bal{
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.2;
}

.add-exp:hover{
 background-color: #a6c99a;
}

.middle-wrapper{
  height: 95%;
  width: 50%;
  align-items: center;
}

.main-content{
  height: 100%;
  width: 80%;
  margin-right: 0% !important;
  margin-top: 5% !important;
  color: var(--navy) !important;
}

.each-exp{
  width: 95%;
  background-color: var(--blue);
  margin: .5rem;
  box-shadow: 0px 0px 10px 1px var(--navy);
  font: 1em sans-serif;
}

.each-exp:hover{
  background-color: #75d0ca;
}

#deleteModal{
  z-index: 10 !important;
}

.modal-backdrop.show{
  z-index: 1 !important;
}